<div style="margin: 0 auto; width: 50%;">
	<div style="margin-bottom: 50px;">
		<button
		type="button"
		class="btn btn-outline-secondary me-2"
		placement="top"
		ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
		popoverTitle="Popover on top"
		>
		Popover on top
	</button>
	
	<button
	type="button"
	class="btn btn-outline-secondary me-2"
	placement="end"
	ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
	popoverTitle="Popover on right"
	>
	Popover on right
</button>

<button
type="button"
class="btn btn-outline-secondary me-2"
placement="bottom"
ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
popoverTitle="Popover on bottom"
>
Popover on bottom
</button>

<button
type="button"
class="btn btn-outline-secondary me-2"
placement="start"
ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
popoverTitle="Popover on left"
>
Popover on left
</button>
</div>

<div style="margin-bottom: 50px;">
<ngb-carousel
#carousel
[interval]="1000"
[pauseOnHover]="pauseOnHover"
[pauseOnFocus]="pauseOnFocus"
(slide)="onSlide($event)"
>
@for (img of images; track img; let i = $index) {
	<ng-template ngbSlide>
		<div class="carousel-caption">
			<h3>My slide {{ i + 1 }} title</h3>
		</div>
		<a href="https://www.google.fr/?q=Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer">
			<div class="picsum-img-wrapper">
				<img [src]="img" alt="My image {{ i + 1 }} description" />
			</div>
		</a>
	</ng-template>
}
</ngb-carousel>

<hr />

<div class="form-check">
	<input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover" />
	<label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
	<input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus" />
	<label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
</div>
<div class="form-check">
	<input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow" />
	<label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
	<input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator" />
	<label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
	{{ paused ? 'Cycle' : 'Pause' }}
</button>

</div>

<div style="margin-bottom: 40px;">
	<p>Example of the range selection</p>

	<ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" />
	
	<ng-template #t let-date let-focused="focused">
		<span
			class="custom-day"
			[class.focused]="focused"
			[class.range]="isRange(date)"
			[class.faded]="isHovered(date) || isInside(date)"
			(mouseenter)="hoveredDate = date"
			(mouseleave)="hoveredDate = null"
		>
			{{ date.day }}
		</span>
	</ng-template>
	
	<hr />
	
	<pre>From: {{ fromDate | json }} </pre>
	<pre>To: {{ toDate | json }} </pre>
</div>

<div style="margin-bottom: 50px; margin: 0 auto;"> 
	<ngb-rating [(rate)]="selected" (hover)="hovered = $event" (leave)="hovered = 0" [readonly]="readonly" />
	<hr />
	
	<pre>
		Selected: <b>{{ selected }}</b>
		Hovered: <b>{{ hovered }}</b>
	</pre>
	
	<button class="btn btn-sm btn-outline-{{ readonly ? 'danger' : 'success' }}" (click)="readonly = !readonly">
		{{ readonly ? 'readonly' : 'editable' }}
	</button>
</div>
</div>